<!DOCTYPE html>
<html>

<head>
    <!-- Make site responsive on mobile/tablet -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Speed Fix</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' media='screen' href='css/main.css'>


    <div class="topnav" id="myTopnav">
        <!--         <a class="navbar-brand" href="/"><img src="/images/logo-new.png" alt=""></a>
 --> <a href="/" class="active">Home</a>
        <a href="#aboutUs">ABOUT</a>
        <a href="#services">SERVICES</a>
        <a href="#contracts">CONTRACTS</a>
        <a href="#social-media">SOCIAL MEDIA</a>
        <a href="javascript:void(0);" class="icon" onclick="bars()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

</head>

<body>
    <!-- Banner Section -->
    <main>

        <section id="banner">
            <div class="splashTitle">
                <h3>Speed Fix Technical Services</h3>
                <h3>Arabic Text</h3>
            </div>
            <div class="homeImage">
                <img src="/images/mascot-nobg.png" alt="image of man standing" class="mascotImage">
            </div>

        </section>

        <!-- About Section -->

        <section id="aboutUs" class="nav-pad">
            <div class="container">
                <h1 class="title text-center">About Us</h1>
                <div class="row text-center">
                    <div class="col-md-3">
                        <i class="fa fa-shower"></i>
                        <h4>Speed Fix Home Maintinence Services</h4>
                        <p>Provide you with a trusted source for all your maintenance
                            requirements. We help you keep your home in top shape,
                            preserving the value of your investment.
                        </p>
                    </div>
                    <div class="col-md-3">
                        <i class="fa fa-hand-peace-o"></i>
                        <h4>Peace of Mind</h4>
                        <p>Speed Fix helps you feel at ease knowing that you have a
                            maintenance company you can depend on.
                        </p>
                    </div>
                    <div class="col-md-3">
                        <i class="fa fa-clock-o"></i>
                        <h4>Prompt Service</h4>
                        <p>Once you call our office or our 24-hour emergency number, our
                            technicians will respond promptly to handle the job.
                        </p>
                    </div>
                    <div class="col-md-3">
                        <i class="fa fa-fighter-jet"></i>
                        <h4>Efficient Work</h4>
                        <p>Our technicians are well-trained and highly- competent to fulfill
                            your maintenance needs in a proficient and
                            organized manner.
                        </p>

                    </div>
                </div>
                <div class="text-center">
                    <button type="button" onclick="window.location.hash = '#services'" class="btn btn-primary">All
                        Services</button>
                </div>
            </div>
        </section>


        <!-- Services -->
        <section id="services">
            <div class="container">
                <h1 class="title text-center">
                    What We Do
                </h1>
                <div class="row">
                    <div class="col-md-4">
                        <img class="services-image" src="/images/services1.jpg" alt="">
                    </div>
                    <div class="col-md-6">
                        <p class="services-title">Electrical</p>
                        <p class="services-text">Electricity is a vital part of everyday life and electrical problems
                            can be
                            tricky. We have highly trained electricians who can carry out all kinds of electrical
                            repairs
                            professionally and promptly.</p>
                        <ul></ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img class="services-image" src="/images/services2.jpg" alt="">
                    </div>
                    <div class="col-md-6">
                        <p class="services-title">Plumbing</p>
                        <p class="services-text">Proper plumbing is important for modern households bringing water into
                            a home as well as providing drainage to get rid of waste. We repair all leaks and make sure
                            that baths, showers, sinks and dishwashers are functioning well.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img class="services-image" src="/images/services3.jpg" alt="">
                    </div>
                    <div class="col-md-6">
                        <p class="services-title">Air-Conditioning</p>
                        <p class="services-text">During the summer months, it is essential to have efficient cooling
                            and to avoid breakdowns. Our skilled technicians maintain your AC system and fix any
                            problems that may arise to ensure your comfort at all times.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img class="services-image" src="/images/services4.jpg" alt="">
                    </div>
                    <div class="col-md-6">
                        <p class="services-title">Extra Services</p>
                        <p class="services-text">In addition to our main services, we offer other services such
                            as water tank cleaning, masonry, carpentry, deep cleaning, pest control, etc. Please
                            refer to our packages for details.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contracts -->

        <services id="contracts" class="nav-pad">
            <div class="container">
                <h1 class="title text-center">
                    Contracts
                </h1>
                <div class="row">
                    <div class="col contracts">
                        <h4 class="contracts-title">Our Convenient Contracts</h4>
                        <p>We have three annual contracts available which we provide for property maintenance: Standard,
                            Silver and Gold.</p>
                        <p>These have been specifically designed as annual contracts to provide properties with the
                            required
                            necessary maintenance coverage, considered adequate to ensure the property is correctly
                            maintained with respect to core services and equipment.</p>

                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table table-bordered table-sm">
                            <thread>
                                <tr>
                                    <td>Service Description</td>
                                    <td>Frequency</td>
                                    <td>Standard Package</td>
                                    <td>Silver Package</td>
                                    <td>Gold Package</td>
                                </tr>
                            </thread>

                            <tr>
                                <td>24hrs Help Desk</td>
                                <td>24.70</td>
                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                            </tr>
                            <tr>
                                <td>Service of AC Units</td>
                                <td>Quarterly</td>
                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                            </tr>
                            <tr>
                                <td>Service of Electrical Fittings</td>
                                <td>Quarterly</td>
                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                            </tr>
                            <tr>
                                <td>Sertice of Plubming</td>
                                <td>Quarterly</td>
                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                            </tr>
                            <tr>
                                <td>Sertice of Water Pumps and Motors</td>
                                <td>Quarterly</td>
                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                            </tr>
                            <tr>
                                <td>Repair of AC Units</td>
                                <td>24.70</td>
                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                            </tr>
                            <tr>
                                <td>Repaid of Electrical Fittings</td>
                                <td>24.70</td>
                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                            </tr>
                            <tr>
                                <td>Repair of Plumbing Defects</td>
                                <td>24.70</td>
                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                            </tr>
                            <tr>
                                <td>Repair of Water Pumps and Mptors</td>
                                <td>24.70</td>
                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                            </tr>
                            <tr>
                                <td>Repair of Fixed Wood Works, UPVC & SS Fittings</td>
                                <td>Schedule</td>
                                <td></td>
                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                            </tr>
                            <tr>
                                <td>Repair of External Doors & Windows</td>
                                <td>Schedule</td>
                                <td></td>
                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                            </tr>
                            <tr>
                                <td>Minor Masonry & Touchup Paint Work</td>
                                <td>Schedule</td>
                                <td></td>
                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                            </tr>
                            <tr>
                                <td>Water Tank Cleaning (up to max capacity of 1000Lt)</td>
                                <td>Annually</td>
                                <td></td>
                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                            </tr>
                            <tr>
                                <td>Kitchen Deep Cleaning</td>
                                <td>Annually</td>
                                <td></td>
                                <td></td>
                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                            </tr>
                            <tr>
                                <td>Paved Yard Cleaning</td>
                                <td>Annually</td>
                                <td></td>
                                <td></td>
                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                            </tr>
                            <tr>
                                <td>Cleaning of Drainage Chambers</td>
                                <td>Quarterly</td>
                                <td></td>
                                <td></td>
                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                            </tr>
                            <tr>
                                <td>Cleaning of External Lights, Fans, Hoods</td>
                                <td>Quarterly</td>
                                <td></td>
                                <td></td>
                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                            </tr>
                            <tr>
                                <td>Cleaning / Unlocking of Roof Drains</td>
                                <td>Annually</td>
                                <td></td>
                                <td></td>
                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            </div>
        </services>


        <!-- Social Media Section -->


        <section id="social-media">
            <div class="container">
                <h1 class="title text-center">Social Media</h1>
                <div class="row">
                    <div class="col text-center">
                        <i class=" fa fa-facebook-square"></i>
                        <i class="fa fa-facebook-square"></i>
                        <i class="fa fa-facebook-square"></i>
                        <i class="fa fa-facebook-square"></i>
                        <i class="fa fa-facebook-square"></i>

                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Footer Section -->
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-box">
                    <img class="footer-logo" src="/images/logo-new.png" alt="">
                    <p>AT YOUR SERVICE! - 24/7 EMERGENCY SERVICE AND SUPPORT</p>
                </div>
                <div class="col-md-4 footer-box">
                    <p><b>Contact Us</b></p>
                    <p> <i class="fa fa-map-marker"></i> P.O.Box 60951 Dubai, UAE </p>
                    <p><i class="fa fa-phone"></i> 04 458 6665 </p>
                    <p><i class="fa fa-mobile"></i> 052 6999 036 </p>
                    <p><i class="fa fa-envelope"></i> info@speedfix.co</p>
                </div>
                <div class="col-md-4 footer-box">
                    <p><b>SUBSCRIBE TO OUR NEWSLETTER</b></p>
                    <input type="email" class="form-control" placeholder="Your Email">
                    <button type="button" class="btn btn-primary">Signup</button>
                </div>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script>
        function bars() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script>
    </script>
</body>


</html>