<!DOCTYPE html>
<html>

<head>
    <!-- Make site responsive on mobile/tablet -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Speed Fix</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' media='screen' href='css/main.css'>

</head>

<body>
    <section id="navbar">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/home"><img src="/images/logo-new.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#top">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#aboutUs">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">SERVICES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contracts">CONTRACTS</a>
                    </li>
                </ul>
            </div>
        </nav>

    </section>

    <!-- Banner Section -->

    <section id="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="splashTitle"> Speed Fix Technical Services <br>Arabic Text</p>
                </div>
                <div class="col-md-4 text-center">
                    <img class="homeImage" src="/images/mascot-nobg.png" class="image-fluid">
                </div>
            </div>

        </div>
    </section>

    <!-- About Section -->

    <section id="aboutUs">
        <div class="container">
            <h1 class="title text-center">About Us</h1>
            <div class="row text-center">
                <div class="col-md-3">
                    <i class="fa fa-shower"></i>
                    <h4>Speed Fix Home Maintinence Services</h4>
                    <p>Provide you with a trusted source for all your maintenance
                        requirements. We help you keep your home in top shape,
                        preserving the value of your investment.
                    </p>
                </div>
                <div class="col-md-3">
                    <i class="fa fa-shower"></i>
                    <h4>Speed Fix Home Maintinence Services</h4>
                    <p>Provide you with a trusted source for all your maintenance
                        requirements. We help you keep your home in top shape,
                        preserving the value of your investment.
                    </p>
                </div>
                <div class="col-md-3">
                    <i class="fa fa-shower"></i>
                    <h4>Speed Fix Home Maintinence Services</h4>
                    <p>Provide you with a trusted source for all your maintenance
                        requirements. We help you keep your home in top shape,
                        preserving the value of your investment.
                    </p>
                </div>
                <div class="col-md-3">
                    <i class="fa fa-shower"></i>
                    <h4>Speed Fix Home Maintinence Services</h4>
                    <p>Provide you with a trusted source for all your maintenance
                        requirements. We help you keep your home in top shape,
                        preserving the value of your investment.
                    </p>
                </div>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-primary">All Services</button>
            </div>
        </div>
    </section>


    <!-- Services -->
    <section id="services">
        <div class="container">
            <h1 class="title text-center">
                What We Do
            </h1>
            <div class="row">
                <div class="col-md-4">
                    <img class="services-image" src="/images/services1.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <p class="services-title">Electrical</p>
                    <p class="services-text">Electricity is a vital part of everyday life and electrical problems can be
                        tricky. We have highly trained electricians who can carry out all kinds of electrical repairs
                        professionally and promptly.</p>
                    <ul></ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img class="services-image" src="/images/services2.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <p class="services-title">Plumbing</p>
                    <p class="services-text">Proper plumbing is important for modern households bringing water into
                        a home as well as providing drainage to get rid of waste. We repair all leaks and make sure
                        that baths, showers, sinks and dishwashers are functioning well.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img class="services-image" src="/images/services3.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <p class="services-title">Air-Conditioning</p>
                    <p class="services-text">During the summer months, it is essential to have efficient cooling
                        and to avoid breakdowns. Our skilled technicians maintain your AC system and fix any
                        problems that may arise to ensure your comfort at all times.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img class="services-image" src="/images/services4.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <p class="services-title">Extra Services</p>
                    <p class="services-text">In addition to our main services, we offer other services such
                        as water tank cleaning, masonry, carpentry, deep cleaning, pest control, etc. Please
                        refer to our packages for details.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Contracts -->

    <services id="contracts">
        <div class="container">
            <h1 class="title text-center">
                Contracts
            </h1>
            <div class="row">
                <div class="col contracts">
                    <h4 class="contracts-title">Our Convenient Contracts</h4>
                    <p>We have three annual contracts available which we provide for property maintenance: Standard,
                        Silver and Gold.</p>
                    <p>These have been specifically designed as annual contracts to provide properties with the
                        required
                        necessary maintenance coverage, considered adequate to ensure the property is correctly
                        maintained with respect to core services and equipment.</p>

                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </services>


    <!-- Social Media Section -->


    <section id="social-media">
        <div class="container">
            <h1 class="title text-center">Social Media</h1>
            <div class="row">
                <div class="col text-center">
                    <i class=" fa fa-facebook-square"></i>
                    <i class="fa fa-facebook-square"></i>
                    <i class="fa fa-facebook-square"></i>
                    <i class="fa fa-facebook-square"></i>
                    <i class="fa fa-facebook-square"></i>

                </div>
            </div>
        </div>
    </section>

    <!-- Footer Section -->
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-box">
                    <img class="footer-logo" src="/images/logo-new.png" alt="">
                    <p>Provide you with a trusted source for all your maintenance requirements. We help you keep
                        your
                        home in top shape, preserving the value of your investment.</p>
                </div>
                <div class="col-md-4 footer-box">
                    <p><b>Contact Us</b></p>
                    <p> <i class="fa fa-map-marker"></i> World Trade Center, Bangalore</p>
                    <p><i class="fa fa-phone"></i> +1 0123456789</p>
                    <p><i class="fa fa-envelope"></i> zxy@gmail.com</p>
                </div>
                <div class="col-md-4 footer-box">
                    <p><b>SUBSCRIBE TO OUR NEWSLETTER</b></p>
                    <input type="email" class="form-control" placeholder="Your Email">
                    <button type="button" class="btn btn-primary">Signup</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Smooth Scroll -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="node_modules/scroll-js/dist/scroll.js"></script>

</body>


</html>