<%- include('partials/header') %>

<div class="container-fluid">

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-6">Speed Fix Technical Services LLC</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <h4>Speed Fix Home Maintinence Services</h4>
                <p>Provide you with a trusted source for all your maintenance
                    requirements. We help you keep your home in top shape,
                    preserving the value of your investment.</p>
            </div>
            <div>
                <h4>Speed Fix Home Maintinence Services</h4>
                <p>Provide you with a trusted source for all your maintenance
                    requirements. We help you keep your home in top shape,
                    preserving the value of your investment.</p>
            </div>
            <div>
                <h4>Speed Fix Home Maintinence Services</h4>
                <p>Provide you with a trusted source for all your maintenance
                    requirements. We help you keep your home in top shape,
                    preserving the value of your investment.</p>
            </div>
            <div>
                <h4>Speed Fix Home Maintinence Services</h4>
                <p>Provide you with a trusted source for all your maintenance
                    requirements. We help you keep your home in top shape,
                    preserving the value of your investment.</p>
            </div>
        </div>

        <img src="" alt="Image of home held by hand" class="img-fluid">
    </div>

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-5"> At Your Service!</h1>
            <h1 class="display-6"> 24/7 Emergency Service and Support</h1>
        </div>
    </div>
</div>

<%- include('partials/footer') %>