* {
    padding: 0%;
    margin: 0%;
}

body {
    background: rgb(54, 110, 182);
    background: -moz-linear-gradient(180deg, rgba(54, 110, 182, 1) 0%, rgba(41, 46, 109, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(54, 110, 182, 1) 0%, rgba(41, 46, 109, 1) 100%);
    background: linear-gradient(180deg, rgba(54, 110, 182, 1) 0%, rgba(41, 46, 109, 1) 100%);
    color: white;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    position: sticky;
    padding: 0;
    background-color: orange;
    top: 0%;
    z-index: 10;
}

.navbar-brand img {
    height: 40px;
    padding-left: 20px;
}

.navbar li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: #000000;
    font-weight: 600;
    float: right;
    text-align: left;
}

.navbar-toggler {
    outline: none;
}

.fa-bars {
    color: #ffffff;
    font-size: 30px;
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 40px;
}

.nav-pad {
    margin: -100px;
    padding: 100px;
    display: inline-block;
}

/* Banner Section */

#banner {
    min-height: 100vh;
    display: flex;
    grid-template-columns: 50% 50%;
    align-items: center;
    grid-gap: 1em 1em;
    justify-content: space-between;
}

.splashTitle {
    font-size: 40px;
    font-weight: 600px;
    margin-top: 100px;
    padding-left: 10px;
}

.mascotImage {
    font: 100px;
}

/* aboutUs Section */

#aboutUs {
    padding-top: 3rem;
}

#aboutUs i {
    margin-top: 20px;
    font-size: 30px;
}

.services {
    padding: 20px;
}

.title::After {
    content: '';
    background: orange;
    height: 5PX;
    width: 200px;
    margin: auto;
    display: block;
}

#aboutUs .btn-primary {
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 10px;
    background-color: orange;
}

/* Services */

#services {
    padding-top: 50px;
}

.services-title {
    font-size: 20px;
    font-weight: 600;
    margin-top: 8%;
}

.services-image {
    margin-top: 16%;
}

/* Contracts */

#contracts {
    padding-top: 50px;
}

.table {
    color: #ffffff;
}

/* Table */

#contracts td {
    font-size: 0.7em;
}

/* Social Media */

#social-media {
    padding: 100px 0;
    align-content: center;
    display: block;
    width: 100%;
}

#social-media p {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}

#social-media i {
    font-size: 40px;
    padding: 10px;
    transition: 0.5s;
}

#social-media i:hover {
    transform: translateY(-10px);
}

/* Footer section */

#footer {
    padding: 25px;
    background-color: orange;
    color: #000000;
}

.footer-logo {
    height: 100px;
}

.footer-box .fa {
    margin-right: 8px;
    font-size: 25px;
    height: 10px;
    width: 40px;
    text-align: center;
    padding-top: 1px;
    border-radius: 2px;
}

.footer-box .form-control {
    box-shadow: none;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}

.footer-box .btn-primary {
    box-shadow: none;
    border: none;
    border-radius: 0;
    margin-top: 30px;
    background-color: blue;
}